<template name="todoLists">
  <h3 class="page-header">Todo Lists</h3>
  <div class="list-group">
    {{#each todoLists}}
      <a href="{{pathFor 'viewTodoList'}}" class="list-group-item">{{name}}</a>
    {{else}}
      <p class="alert alert-info">You haven't added any todo lists yet!</p>
    {{/each}}
  </div>
  <h4 class="page-header">Add a Todo List</h4>
  <form id="add-todo-list">
    <div class="form-group">
      <label for="todoListName">Todo List Name</label>
      <input type="text" name="todoListName" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Add Todo List</button>
  </form>
</template>
